Repository worgarside/wg-utilities, pull requests merged in 2023-04, with the labels that each got.

#257 Swap Pipenv for Poetry
  .github/workflows/python_unit_tests.yml
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  poetry.lock
  pyproject.toml
  setup.py
Labels: tools

#262 Add GHA workflow for managing PR labels
  .github/labeler.yml
  .github/repo_labels.yml
  .github/workflows/manage_pr_labels.yml
Labels: enhancement, github-actions, patch

#263 Add workflows for automating release management
  .github/release-drafter.yml
  .github/workflows/ci_cd.yml
  .github/workflows/draft_release.yaml
Labels: enhancement, github-actions, minor

#267 Don't throw an error when trying to delete the release branch
  .github/workflows/ci_cd.yml
Labels: github-actions, patch

#268 Validate release tag in CI/CD workflow
  .github/workflows/ci_cd.yml
Labels: enhancement, github-actions, patch

#269 Add GHA to delete branches after PRs are merged
  .github/delete-merged-branch-config.yml
  .github/workflows/delete_pr_branch.yml
  .github/workflows/manage_pr_labels.yml
Labels: enhancement, github-actions, minor

#272 Add `actionlint` PCH
  .github/workflows/actionlint.yml
  .pre-commit-config.yaml
Labels: enhancement, github-actions, minor

#284 Add bug label to base set
  .github/release-drafter.yml
  .github/workflows/manage_pr_labels.yml
Labels: enhancement, tools, github-actions, minor

#283 Different headers for Monzo/Spotify OAuth requests
  wg_utilities/clients/oauth_client.py
Labels: bug, python

#280 Update all references to `0.0.0.0` to `localhost`
  tests/conftest.py
  tests/unit/clients/oauth_client/test__temp_auth_server.py
  wg_utilities/api/temp_auth_server.py
  wg_utilities/clients/oauth_client.py
Labels: bug, python, tests

#286 Add keep-updated label for PR auto-updater
  .github/repo_labels.yml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/pr_autoupdate.yaml
Labels: enhancement, github-actions, minor, keep-updated

#287 Add `feature-request` label
  .github/repo_labels.yml
Labels: enhancement, minor, keep-updated

#288 Bump version
  .github/workflows/manage_pr_labels.yml
  pyproject.toml
  utilities/version_bumper/main.py
  wg_utilities/__init__.py
Labels: enhancement, python, github-actions, major, keep-updated

#291 Use GH CLI for asset upload
  .github/workflows/build_and_publish.yml
Labels: bug, github-actions, keep-updated

#294 Make `pytz` hard dependency
  poetry.lock
  pyproject.toml
Labels: bug, dependencies, keep-updated

#295 Rename `device.*` extras so `pip` can find them
  poetry.lock
  pyproject.toml
Labels: bug, dependencies, major, keep-updated

#296 Bump version to `4.0.0`
  pyproject.toml
  wg_utilities/__init__.py
Labels: enhancement, python, major, keep-updated

#298 Bump version to 3.0.1
  pyproject.toml
  wg_utilities/__init__.py
Labels: enhancement, python, minor

#299 Release 3.0.1
  .github/workflows/publish_release.yml
  poetry.lock
  pyproject.toml
  wg_utilities/__init__.py
Labels: dependencies, python, release, github-actions, patch

#300 Fix GHA Release Publisher Command
  .github/workflows/manage_pr_labels.yml
  .github/workflows/publish_release.yml
Labels: bug, github-actions, keep-updated

#301 Add parameter to configure YAS-209 resubscription frequency
  .github/workflows/python_unit_tests.yml
  tests/unit/devices/yamaha_yas_209/test__yamaha_yas_209.py
  wg_utilities/devices/yamaha_yas_209/yamaha_yas_209.py
Labels: enhancement, python, github-actions, minor, tests, keep-updated

#302 Add GHA job to create release PRs automatically
  .github/workflows/draft_release.yaml
Labels: enhancement, github-actions, non-functional, keep-updated

#303 Bump to 3.1.0
  pyproject.toml
  wg_utilities/__init__.py
Labels: non-functional

#312 Add SonarCloud scan/coverage step
  .github/workflows/publish_release.yml
  .github/workflows/test_and_scan.yml
  poetry.lock
  pyproject.toml
  sonar-project.properties
Labels: enhancement, dependencies, github-actions, non-functional

#311 Stop songs with ampersands in from breaking the XML parser
  tests/flat_files/json/google/calendar/v3/calendars/google-user@gmail.com/events/maxresults=500&orderby=updated&singleevents=true&pagetoken=abc.json
  tests/flat_files/json/google/calendar/v3/calendars/google-user@gmail.com/events/maxresults=500&orderby=updated&singleevents=true.json
  tests/flat_files/xml/yamaha_yas_209/event_payloads/av_transport/payload_20230408232348755378.xml
  tests/unit/devices/yamaha_yas_209/test__yamaha_yas_209.py
  wg_utilities/devices/yamaha_yas_209/yamaha_yas_209.py
Labels: bug, python, tests

#315 Update `OAuthClient._request_json_response` to raise conditional exception (Fixes #265)
  tests/unit/clients/oauth_client/test__oauth_client.py
  tests/unit/clients/spotify/test__spotify_client.py
  wg_utilities/clients/oauth_client.py
Labels: enhancement, python, minor, tests

#320 🔄 synced file(s) with worgarside/github-config-files
  .github/repo_labels.yml
  .github/workflows/dependabot_auto_merge.yml
  .github/workflows/manage_pr_labels.yml
  .github/workflows/manage_repo_labels.yml
Labels: sync, github-actions, keep-updated

#327 (Re) add `dependencies` to "SemVer" labels
  .github/workflows/manage_pr_labels.yml
Labels: sync, github-actions, non-functional, keep-updated

#330 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
Labels: sync, github-actions, keep-updated

#331 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
Labels: sync, github-actions, keep-updated

#332 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
  .github/workflows/manage_repo_labels.yml
Labels: sync, github-actions, keep-updated

#334 Enable third party typing for mypy PCH
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  tests/unit/clients/google/calendar/test__calendar.py
  tests/unit/clients/google/calendar/test__event.py
  tests/unit/clients/google/calendar/test__google_calendar_client.py
  tests/unit/clients/google/calendar/test__google_calendar_entity.py
  tests/unit/clients/google/calendar/test__start_end_datetime.py
  tests/unit/clients/google/conftest.py
  tests/unit/clients/google/drive/test__can_have_children.py
  tests/unit/clients/google/drive/test__drive.py
  tests/unit/clients/google/drive/test__file.py
  tests/unit/clients/google/fit/test__data_source.py
  tests/unit/clients/google/photos/test__google_photos_album.py
  tests/unit/clients/google/photos/test__google_photos_client.py
  tests/unit/clients/google/photos/test__media_item.py
  tests/unit/clients/monzo/conftest.py
  tests/unit/clients/monzo/test__account.py
  tests/unit/clients/monzo/test__monzo_client.py
  tests/unit/clients/oauth_client/conftest.py
  tests/unit/clients/oauth_client/test__oauth_client.py
  tests/unit/clients/spotify/conftest.py
  tests/unit/clients/spotify/test__playlist.py
  tests/unit/clients/spotify/test__spotify_album.py
  tests/unit/clients/spotify/test__spotify_client.py
  tests/unit/clients/spotify/test__user.py
  tests/unit/clients/truelayer/conftest.py
  tests/unit/clients/truelayer/test__truelayer_client.py
  tests/unit/clients/truelayer/test__truelayer_entity.py
  tests/unit/devices/dht22/conftest.py
  tests/unit/devices/dht22/test__dht22.py
  tests/unit/devices/yamaha_yas_209/conftest.py
  tests/unit/devices/yamaha_yas_209/test__current_track.py
  tests/unit/devices/yamaha_yas_209/test__last_change.py
  tests/unit/devices/yamaha_yas_209/test__yamaha_yas_209.py
  tests/unit/exceptions/test__on_exception.py
  tests/unit/exceptions/test__send_exception_to_home_assistant.py
  tests/unit/functions/datetime_helpers/test__utcnow.py
  tests/unit/functions/file_management/test__user_data_dir.py
  tests/unit/functions/json/test__process_list.py
  tests/unit/functions/json/test__traverse_dict.py
  tests/unit/functions/string_manipulation/test__cleanse_string.py
  tests/unit/functions/test__chunk_list.py
  tests/unit/functions/test__flatten_dict.py
  tests/unit/functions/test__try_float.py
  tests/unit/loggers/conftest.py
  tests/unit/loggers/test__add_list_handler.py
  tests/unit/loggers/test__add_stream_handler.py
  tests/unit/loggers/test__create_file_handler.py
  tests/unit/loggers/test__list_handler.py
  tests/unit/testing/_custom_mocks/test__mock_boto3_client.py
  wg_utilities/clients/google_drive.py
  wg_utilities/clients/truelayer.py
  wg_utilities/devices/dht22/dht22_lib.py
  wg_utilities/devices/epd/epdconfig.py
  wg_utilities/devices/yamaha_yas_209/yamaha_yas_209.py
  wg_utilities/functions/json.py
Labels: enhancement, python, non-functional, tests

#338 Add GHA for auto-creating PRs
  .github/workflows/auto_create_pr.yml
Labels: sync, github-actions, keep-updated

#339 Add ability to set default oauth creds cache dir by env var
  .vscode/settings.json
  tests/unit/clients/oauth_client/test__oauth_client.py
  wg_utilities/clients/oauth_client.py
Labels: enhancement, python, minor, tests, keep-updated

#340 Add arg to set oauth redirect host
  wg_utilities/clients/_google.py
  wg_utilities/clients/google_calendar.py
  wg_utilities/clients/google_drive.py
  wg_utilities/clients/google_fit.py
  wg_utilities/clients/google_photos.py
  wg_utilities/clients/monzo.py
  wg_utilities/clients/oauth_client.py
  wg_utilities/clients/spotify.py
  wg_utilities/clients/truelayer.py
Labels: enhancement, python, minor

#341 Fix issue with building test package from wrong branch
  .github/workflows/draft_release.yaml
Labels: bug, github-actions, keep-updated

#342 Add proper name to PR label manager step
  .github/workflows/manage_repo_labels.yml
Labels: sync, github-actions, keep-updated

#343 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
Labels: sync, github-actions, skip-changelog, keep-updated

#345 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
Labels: sync, github-actions, keep-updated

#346 Update bad `is_playable` typing
  wg_utilities/clients/_spotify_types.py
  wg_utilities/clients/spotify.py
Labels: bug, python, keep-updated

#347 Fix issue with release publisher
  .github/workflows/publish_release.yml
Labels: bug, github-actions, keep-updated

#348 Optimise `__init__` methods of OAuth clients
  wg_utilities/clients/_google.py
  wg_utilities/clients/google_calendar.py
  wg_utilities/clients/google_drive.py
  wg_utilities/clients/google_fit.py
  wg_utilities/clients/google_photos.py
  wg_utilities/clients/monzo.py
  wg_utilities/clients/oauth_client.py
  wg_utilities/clients/spotify.py
  wg_utilities/clients/truelayer.py
Labels: enhancement, python, non-functional, keep-updated

#350 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
Labels: sync, github-actions, keep-updated

#352 Add `documentation` label
  .github/labeler.yml
  .github/repo_labels.yml
Labels: sync, keep-updated

#351 Add ability to run OAuth client in "headless mode" for first time logins
  .vscode/settings.json
  README.md
  tests/conftest.py
  tests/unit/clients/oauth_client/test__oauth_client.py
  wg_utilities/clients/google_drive.py
  wg_utilities/clients/google_fit.py
  wg_utilities/clients/oauth_client.py
  wg_utilities/clients/truelayer.py
Labels: enhancement, python, minor, tests, keep-updated, documentation

#355 Change auto-merge author to `worgarside`
  .github/workflows/manage_pr_labels.yml
Labels: sync, github-actions, keep-updated

#356 Change labeler author to `worgarside-dev`
  .github/workflows/manage_pr_labels.yml
Labels: sync, github-actions, non-functional, keep-updated

#357 Add ability to completely override `redirect_uri` for OAuth clients
  tests/unit/clients/oauth_client/test__oauth_client.py
  wg_utilities/clients/__init__.py
  wg_utilities/clients/google_drive.py
  wg_utilities/clients/google_fit.py
  wg_utilities/clients/oauth_client.py
  wg_utilities/clients/truelayer.py
Labels: enhancement, python, minor, tests, keep-updated

#359 Make release -> develop merge force to override branch rule
  .github/workflows/publish_release.yml
Labels: bug, github-actions, keep-updated

#360 Fix issue with env var TrueLayer cache directory
  tests/unit/clients/truelayer/test__truelayer_client.py
  wg_utilities/clients/truelayer.py
Labels: bug, python, tests

#361 Separate auto-merger into its own workflow
  .github/workflows/manage_pr_labels.yml
  .github/workflows/set_pr_auto_merge.yml
Labels: sync, github-actions, keep-updated

#364 Remove dependencies to run more publish jobs in parallel
  .github/workflows/publish_release.yml
Labels: enhancement, github-actions, keep-updated

#365 Ensure creds cache dir is created for TrueLayer clients
  wg_utilities/clients/truelayer.py
Labels: bug, python, keep-updated

#374 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
  .github/workflows/set_pr_auto_merge.yml
Labels: sync, github-actions, keep-updated

#376 Fix auto merge permissions for dependabot PRs
  .github/workflows/set_pr_auto_merge.yml
Labels: sync, github-actions, keep-updated

#378 Remove `application/json` header from Monzo client
  wg_utilities/clients/monzo.py
Labels: bug, python, keep-updated

#385 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/manage_pr_labels.yml
  .github/workflows/set_pr_auto_merge.yml
Labels: sync, github-actions, keep-updated

#384 Add option to only use existing OAuth credentials
  tests/unit/clients/oauth_client/test__oauth_client.py
  wg_utilities/clients/google_drive.py
  wg_utilities/clients/google_fit.py
  wg_utilities/clients/oauth_client.py
  wg_utilities/clients/truelayer.py
Labels: enhancement, python, minor, tests, keep-updated

#388 Add chore label
  .github/labeler.yml
  .github/repo_labels.yml
Labels: sync, keep-updated

#389 Utilise Spotify Playlist `snapshot_id` to only pull tracks when needed
  tests/conftest.py
  tests/flat_files/json/spotify/v1/playlists/2lmx8fu0seq7ea5kcmlnpx/fields=snapshot_id.json
  tests/flat_files/json/spotify/v1/playlists/4vv023mazsc8ntwz4wjvil/fields=snapshot_id.json
  tests/flat_files/json/spotify/v1/playlists/65v3nbfpsflys2qafchbyb/fields=snapshot_id.json
  tests/unit/clients/oauth_client/test__oauth_client.py
  tests/unit/clients/spotify/conftest.py
  tests/unit/clients/spotify/test__artist.py
  tests/unit/clients/spotify/test__playlist.py
  tests/unit/clients/spotify/test__spotify_album.py
  tests/unit/clients/spotify/test__spotify_client.py
  tests/unit/clients/spotify/test__spotify_entity.py
  tests/unit/clients/spotify/test__track.py
  tests/unit/clients/spotify/test__user.py
  wg_utilities/clients/oauth_client.py
  wg_utilities/clients/spotify.py
Labels: enhancement, python, minor, tests, keep-updated

#391 Update PR branch deleter to use bot label
  .github/repo_labels.yml
  .github/workflows/delete_pr_branch.yml
Labels: sync, github-actions, keep-updated

#392 Demote dependabot auto-merge to minor versions
  .github/workflows/dependabot_auto_merge.yml
Labels: sync, github-actions, keep-updated

#402 🔄 synced file(s) with worgarside/github-config-files
  .github/labeler.yml
  .github/workflows/delete_pr_branch.yml
  .github/workflows/dependabot_auto_merge.yml
Labels: sync, github-actions, keep-updated

#403 🔄 synced file(s) with worgarside/github-config-files
  .github/workflows/delete_pr_branch.yml
Labels: sync, github-actions, keep-updated

#404 🔄 synced file(s) with worgarside/github-config-files
  .github/labeler.yml
  .github/workflows/delete_pr_branch.yml
  .github/workflows/manage_pr_labels.yml
Labels: sync, github-actions, keep-updated
